doctype html
html
  head
    title= title 
    link(rel='stylesheet', href='/js/vendor/bootstrap/dist/css/bootstrap.min.css')
    script(src='/js/vendor/jquery/dist/jquery.min.js')
    script(src='/js/vendor/bootstrap/dist/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
